@model OxyProcess.Models.FormTag.Tag
@{
    ViewData["Title"] = "Manage Tag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{

    <link href="~/css/lib/jquery-sortable/Short-application.css" rel="stylesheet" />

}


<style>
    .nav-cus span {
        min-width: 139px;
        border: 1px solid #eee;
        background: #eee;
        color: #aaa;
        margin: 0 19px 0 0;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    nav-cus span.active {
        background-color: #0062cc !IMPORTANT;
    }

    .nav-cus span.active {
        color: #fff;
        background-color: #0062cc !important;
        border-color: #005cbf !important;
    }

    .nav-cus i {
        padding: 0 10px 0 0px;
        color: #eee;
    }

    .add-colm {
        padding-top: 25px;
    }

    .group-tabel {
        margin: 30px 0 0 !important;
    }

    #myTable_wrapper {
        width: 653px;
    }
    /**/
    .container-view {
        max-width: 1100px;
        margin: 39px auto;
    }

    .top-view, .bottom-view, .right-view {
        padding: 20px;
        border: 1px solid #ccc;
        overflow-y: scroll;
        width: 100%;
    }

    .top-view {
        margin: 0 0 18px;
    }

    .top-view, .bottom-view {
        /* overflow-y: scroll; */
        min-height: 305px;
        max-height: 310px;
    }

    .right-view {
        min-height: 677px;
        overflow: auto;
    }


    .room-remove {
        float: right;
        margin-top: 2px;
    }

    .nested_with_switch .room-remove {
        display: none;
    }

    .nested_with_switch2 .room-remove {
        display: none;
    }

    .nested_with_switch .editdata {
        display: none;
    }

    .nested_with_switch2 .editdata {
        display: none;
    }

    .publictemp {
        background-color: #eee !important;
    }

    .body.dragging:hover, body.dragging *:hover {
        cursor: default !important;
    }

    .nested_with_switch li:hover {
        cursor: move !important;
    }

    .btn-group {
        height: 28px !important;
    }

    .right-view {
        margin: 25px 0 0;
    }



    .room_number {
        background-color: #fde7ce !important;
    }

    ol.vertical li {
        cursor: move;
    }

    .fa-pencil {
        margin: 0px 10px 0px;
        cursor: pointer;
        font-size: 17px;
      color: #8c8a8a;
    }



    .fa-times{
        font-size: 19px;
    }


    .cferror {
    border-color:red !important;
}

    .top-view:after {
    content: attr(data-content);
    position: absolute;
    text-align: center;
    top: 27%;
    left: 0;
    width: 100%;
    margin-top: -1em;
}

      .bottom-view:after {
    content: attr(data-content);
    position: absolute;
    text-align: center;
    top: 76%;
    left: 0;
    width: 100%;
    margin-top: -1em;
}

      .ad-btns .btn {
    padding: 8px 45px;
    margin: 19px 4px 0;
}


</style>
<div class="container-fluid">
    <!-- Start Page Content -->

    <div class="row">
        <!-- Column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6 add-colm">
                            <h3>Tag Number: &nbsp; @Model.TagNumber</h3>


                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="container-view">

                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>ReportCards Forms</h3>
                                        <div class="full-view">
                                            <div class="top-view" data-content="No form template exists">
                                                <ol class='nested_with_switch nested test1 vertical'></ol>
                                            </div>

                                            <h3>Regular Forms </h3>
                                            <div class="bottom-view" data-content="No form template exists">
                                                <ol class='nested_with_switch2 nested test2 vertical'></ol>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="full-view">
                                            <div class="right-view">
                                              @*  <input type="text" placeholder="Add Group" name="groupname" id="groupname" class="form-control dis" />*@

                                              @*  <input type="button" value="Add" style="margin-top: -10px;" id="add_group" />*@
                                                <ol class='nested_with_switch_room nested test3 vertical' id="room_list">
                                                    @*
                                                    <li data-id="2" data-name='Deluxe Room' class="room_number msg1" id="room_remove11">
                                                        Deluxe Room<div class="room-remove"><a href="javascript:void(0)" onclick="delete_room(11)"><i class="fa fa-times"></i></a></div>
                                                        <ol>
                                                            <li id="passenger_remove21">
                                                                John Terry<div class="room-remove"><a href="javascript:void(0)" onclick="delete_template(21)"><i class="fa fa-times"></i></a></div>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                    <li data-id="3" data-name='Family Room' class="room_number msg1" id="room_remove12">
                                                        Family Room<div class="room-remove"><a href="javascript:void(0)" onclick="delete_room(12)"><i class="fa fa-times"></i></a></div>
                                                        <ol>
                                                            <li id="passenger_remove22">
                                                                Jose Mourinho<div class="room-remove"><a href="javascript:void(0)" onclick="delete_template(22)"><i class="fa fa-times"></i></a></div>
                                                            </li>
                                                        </ol>
                                                    </li>*@
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ad-btns">
                                <button class="pull-right  btn btn-primary" type="button" id="submit">Save</button>
                                <button class="pull-right btn btn-primary" onclick="window.location.replace('@Url.Action("Index","FormTag")');" type="button">Back</button>
                            </div>

                        </div>
                    </div>
                    @*<div class="row">
                        <button class="btn btn-primary" type="submit">Next</button>
                    </div>*@

                </div>
            </div>
        </div>
        <!-- Column -->

     
    </div>

    <!-- End PAge Content -->
</div>
@section Scripts{

    <script type="text/javascript" src="~/js/lib/jquery-sortable/jquery-sortable.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            ////Tool Tip Name Change here
            //$(".fa-pencil").attr("title", "Change Name");
            //$(".fa fa-times").attr("title","Remove Template");
            


             var msg = '@ViewBag.Msg';
            if (msg != null && msg!="") {
                  swal({
                   text: '@ViewBag.Msg',
                   type: 'warning',
                   confirmButtonText: 'Ok',
                });
            }

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllReportCards", "FormTag")",
                "dataType": "json",
                success: function (data) {

                    if (data.length != 0) {

                          $(".top-view").removeAttr("data-content");
                    }
                    $(data).each(function (index) {

                        var idname =this.TemplateId;

                           var delete_id = Math.floor(Math.random() * 90000) + 10000;
                                    var deleteRegulertemp = "delete_Reguler_template(" + delete_id + ")";

                        if (this.Groups === "0") {
                            $('ol.test1').append('<li  data-uniqId=""  delete_id="' + delete_id + '" id="' + idname + '" data-type="template"  data-temptype="'+this.TemplateTypeId+'" data-id="' + this.TemplateId + '"data-Group="' + this.Groups + '" class="publictemp" data-secondname="' + this.TemplateName + '" data-name="' + this.TemplateName + '"><span class="innertextval" >' + this.TemplateName + '</span>  <div class="room-remove"><a href="javascript:void(0)" onclick="'+deleteRegulertemp+'"><i class="fa fa-times"></i></a></div></li>');


                        }
                        else {
                            $('ol.test1').append('<li  data-uniqId=""   delete_id="' + delete_id + '" id="'+idname+'" data-type="template"  data-Group="' + this.Groups + '" data-temptype="'+this.TemplateTypeId+'"  data-id="' + this.TemplateId + '" data-secondname="' + this.TemplateName + '" data-name="' + this.TemplateName + '"><span class="innertextval" >' + this.TemplateName + '</span> <div class="room-remove"><a href="javascript:void(0)" onclick="'+deleteRegulertemp+'"><i class="fa fa-times"></i></a></div></li>');

                        }
});

                }
            });


                   $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllRegulerForm", "FormTag")",
                "dataType": "json",
                       success: function (data) {

                              if (data.length != 0) {

                          $(".bottom-view").removeAttr("data-content");
                    }
                    $(data).each(function (index) {
                        var idname =  this.TemplateId;

                     var delete_id = Math.floor(Math.random() * 90000) + 10000;
                                    var deleteRegulertemp = "delete_Reguler_template(" + delete_id + ")";
                         var deleteRegulertemp = "delete_Reguler_template(" + delete_id + ")";

                        if (this.Groups === "0") {
                            $('ol.test2').append('<li  data-uniqId=""   delete_id="' + delete_id + '" id="' + idname + '" data-Group="' + this.Groups + '" data-type="template" data-temptype="' + this.TemplateTypeId + '" id="temp_remove"' + this.TemplateId + '" data-id="' + this.TemplateId + '"  class="publictemp" data-secondname="' + this.TemplateName + '"  data-name="' + this.TemplateName + '"><span class="innertextval" >' + this.TemplateName + '</span>   <div class="room-remove"><a href="javascript:void(0)" onclick="' + deleteRegulertemp + '"><i class="fa fa-times"></i></a></div></li>');

                                        }
                        else {
                            $('ol.test2').append('<li  data-uniqId=""  delete_id="'+delete_id+'" id="'+idname+'" data-Group="' + this.Groups +'" data-type="template" data-temptype="'+this.TemplateTypeId+'" id="temp_remove"'+this.TemplateId +'" data-id="' + this.TemplateId + '" data-secondname="' + this.TemplateName + '" data-name="' + this.TemplateName + '"><span class="innertextval" >' + this.TemplateName + '</span>   <div class="room-remove"><a href="javascript:void(0)" onclick="'+deleteRegulertemp+'"><i class="fa fa-times"></i></a></div></li>');

                        }
        });

                }
            });

        });





        $.ajax({
            type: "GET",
            url: "@Url.Action("GetTagForm", "FormTag")",
            data: {"Id": '@Model.Id'},
            dataType: "json",
            success: function (data) {

                $("#TagFormId").val(data.TagId);


                if (data.tagCode !== "" && data !== null) {
                    var obj = JSON.parse(data.tagCode);  //json data to array


                    $(obj[0]).each(function (index) { //access all row in json step by step


                        var gdata = "";
                        if (this.type === "Group") { //check is data row has groups


                            $(obj[0][index].children[0]).each(function (index2) { // access inside group[] childs


                                if (obj[0][index].children[0][index2].group === 0) { //access selected group index all child elements where group is public ("0")

                                    //get all seleted  element child  values

                                    var groupchild = obj[0][index].children[0][index2].group;
                                    var Namegroupchild = obj[0][index].children[0][index2].name;
                                    var tempTypegroupchild = obj[0][index].children[0][index2].temptype;
                                    var idgroupchild = obj[0][index].children[0][index2].id;
                                    var SecondName = obj[0][index].children[0][index2].secondname;
                                    var uniqId = obj[0][index].children[0][index2].uniqid;

                                    var CombineName = Namegroupchild;
                                       if ($.trim(SecondName) !== $.trim(Namegroupchild))  {

                                        //var CombineName = SecondName +"("+Namegroupchild+")";
                                            var CombineName = SecondName;
                                    }

                                    var delete_id =  Math.floor(Math.random() * 90000) + 10000;
                                    var deleteRegulertemp = "delete_Reguler_template(" + delete_id + ")";




                                    //add all childs of selectd group   and put html string into variable

                                    gdata =gdata+ ('<li data-uniqId="'+uniqId+'" delete_id="' + delete_id + '" id="' + idgroupchild + '" data-Group="' + groupchild + '" data-type="template"  data-temptype="' + tempTypegroupchild + '" id="temp_remove"' + idgroupchild + '" data-id="' + idgroupchild + '"  class="publictemp" data-secondname="' + SecondName + '"  data-name="' + Namegroupchild + '"><span class="innertextval" >' + CombineName + '</span>  <div class="room-remove"><a href="javascript:void(0)" onclick="' + deleteRegulertemp + '"><i class="fa fa-times"></i></a></div></li>');


                                }//access selected group index all child elements where group is public ("0") ----END

                                else {//access selected group index all child elements where group is Not Public ("1")


                                    var groupchild = obj[0][index].children[0][index2].group;
                                    var Namegroupchild = obj[0][index].children[0][index2].name;
                                    var tempTypegroupchild = obj[0][index].children[0][index2].temptype;
                                    var idgroupchild = obj[0][index].children[0][index2].id;
                                    var SecondName = obj[0][index].children[0][index2].secondname;
                                    var CombineName = Namegroupchild;
                                     var uniqId = obj[0][index].children[0][index2].uniqid;
                                      if ($.trim(SecondName) !== $.trim(Namegroupchild)) {

                                         //CombineName = SecondName + " (" + Namegroupchild + " )";
                                          CombineName =SecondName;
                                    }
                                    var delete_id = Math.floor(Math.random() * 90000) + 10000;
                                    var deleteRegulertemp = "delete_Reguler_template(" + delete_id + ")";

                                  gdata =gdata+ ('<li data-uniqId="'+uniqId+'" delete_id="'+delete_id+'" id="'+idgroupchild+'" data-Group="' + groupchild +'" data-type="template" data-temptype="'+tempTypegroupchild+'" id="temp_remove"'+idgroupchild+'" data-id="' + idgroupchild + '" data-secondname="' + SecondName + '" data-name="' + Namegroupchild + '"><span class="innertextval" >' + CombineName + '</span>  <div class="room-remove"><a href="javascript:void(0)" onclick="'+deleteRegulertemp+'"><i class="fa fa-times"></i></a></div></li>');



                                }




                            }) // access inside group[] childs ----END


                            //add  groupchild into seleted or created group Li > OL
                            $('#room_list').append('<li  data-uniqId="'+this.uniqid+'" class="room_number msg" id="group_remove' + (this.id) + '" data-temptype="0" data-type="Group"  data-id="' + this.id + '"  data-secondname="' + this.name + '" data-name="' + this.name + '">' + this.name + '<div class="room-remove"><a href="javascript:void(0)"  onclick="delete_group(' + this.id + ')"><i class="fa fa-times"></i></a></div><ol>' + gdata + '</ol></li>');
                              //add  groupchild into seleted or created group Li > OL ---End


                        }//check is data row has groups End

                        else {//eliments without group  for single "Li"


                              if (obj[0][index].group === 0) { //access selected group index all child elements where group is public ("0")

                                    //get all seleted  element child  values

                                    var groupchild = obj[0][index].group;
                                    var Namegroupchild = obj[0][index].name;
                                    var tempTypegroupchild = obj[0][index].temptype;
                                  var SecondName = obj[0][index].secondname;
                                  var CombineName = Namegroupchild;
                                     var uniqId = obj[0][index].uniqid;
                                 if ($.trim(SecondName) !== $.trim(Namegroupchild))  {

                                         //CombineName = SecondName + " (" + Namegroupchild + " )";
                                      CombineName = SecondName;

                                    }
                                    var idgroupchild =  obj[0][index].id;
                                    var delete_id =  Math.floor(Math.random() * 90000) + 10000;
                                    var deleteRegulertemp = "delete_Reguler_template(" + delete_id + ")";

                                    //add all childs of selectd group   and put html string into variable

                                    $('#room_list').append('<li data-uniqId="'+uniqId+'" delete_id="' + delete_id + '" id="' + idgroupchild + '"data-type="template"  data-Group="' + groupchild + '"data-Group="' + 0 + '" data-temptype="' + tempTypegroupchild + '" id="temp_remove"' + idgroupchild + '" data-id="' + idgroupchild + '"  class="publictemp" data-secondname="' + SecondName + '"  data-name="' + Namegroupchild + '"><span class="innertextval" >' + CombineName + '</span>  <div class="room-remove"><a href="javascript:void(0)" onclick="' + deleteRegulertemp + '"><i class="fa fa-times"></i></a></div></li>');


                                }//access selected group index all child elements where group is public ("0") ----END

                                else {//access selected group index all child elements where group is Not Public ("1")


                                    var groupchild = obj[0][index].group;
                                    var Namegroupchild = obj[0][index].name;
                                  var SecondName = obj[0][index].secondname;
                                  var CombineName = Namegroupchild;
                                   var uniqId = obj[0][index].uniqid;
                                    if ($.trim(SecondName) !== $.trim(Namegroupchild)) {

                                         //CombineName = SecondName + " (" + Namegroupchild + " )";
                                        CombineName = SecondName;
                                    }
                                    var tempTypegroupchild = obj[0][index].temptype;
                                     var idgroupchild =  obj[0][index].id;
                                    var delete_id = Math.floor(Math.random() * 90000) + 10000;
                                    var deleteRegulertemp = "delete_Reguler_template(" + delete_id + ")";

                                 $('#room_list').append('<li data-uniqId="'+uniqId+'" delete_id="'+delete_id+'" id="'+idgroupchild+'" data-Group="' + groupchild +'" data-type="template"  data-temptype="'+tempTypegroupchild+'" id="temp_remove"'+idgroupchild+'" data-id="' + idgroupchild + '" data-secondname="' + SecondName + '" data-name="' + Namegroupchild + '"><span class="innertextval" >' + CombineName + '</span>   <div class="room-remove"><a href="javascript:void(0)" onclick="'+deleteRegulertemp+'"><i class="fa fa-times"></i></a></div></li>');



                                }
                        }
                    });

                }
            }
            });

    </script>



    <script>







        $(document).ready(function () {

            var oldContainer;
            var group = $("ol.nested_with_switch").sortable({
                drop: false,
                group: 'nested',

                 onDragStart: function ($item, container, _super) {
    // Duplicate items of the no drop area


                 if(!container.options.drop)
                 $item.clone().insertAfter($item);
                 _super($item, container);
                  },


                onDrop: function ($item, container, _super) {
          // $(".fa-pencil").attr("title", "Change Name");
          //$(".fa fa-times").attr("title","Remove Template");
           

                    var itemtype = $item.attr("data-temptype");
                    var data_class = $item.attr("Class");
                    var data_id = $item.attr("data-id");
                    var countli = $('.nested_with_switch_room  li').length;
                    var data_name = $item.attr("data-name");

                    var delete_id = Math.floor(Math.random() * 90000) + 10000;
                    var deleteRegulertemp = "delete_Reguler_template(" + delete_id + ")";
                    //var deletetemp = "delete_template(" + data_id + ")";
                    var delete_id_pass = $item.attr("delete_id");
                    var TemplateFormGroupId = Math.floor(Math.random() * 9000000) + 1000000;


                    if ($item[0].attributes["data-Type"].value !== "Group") {

                        $item[0].setAttribute("delete_id", delete_id)
                        $item[0].children[1].children[0].setAttribute("onclick", deleteRegulertemp)

                    }


                    if ($item[0].attributes["data-uniqId"].value == "") {

                        $item[0].setAttribute("data-uniqId", TemplateFormGroupId)

                    }
                    if (countli === 1) {


                        //if (itemtype === "2" && data_class === "publictemp dragged") {

                        //    container.el.removeClass("active");


                        //    _super($item, container);



                        //}
                        //else {

                        //    swal("Add Public ReportCard First!");
                        //    $('.test3').empty()
                        //    $("#myParagraph").css({ "backgroundColor": "black", "color": "white" });
                        //}



                              container.el.removeClass("active");


                            _super($item, container);

                    }
                    else {

                        if (itemtype === "2") {

                            var tempid = data_id;

                            var countli = $('ol.test3  li[data-temptype =' + 2 + ']').length;


                            if (countli > 1) {

                                swal("ReportCard already exists on the tag.");
                            $("#myParagraph").css({ "backgroundColor": "black", "color": "white" });
                                $item.remove();
                            }



                        }

                        if (itemtype === "1") {

                            var tempid = data_id;

                            var countli = $('ol.test3  li[id =' + tempid + ']').length;


                            if (countli > 1) {

                                swal("Selected form already exists on the tag.");
                                $("#myParagraph").css({ "backgroundColor": "black", "color": "white" });
                                $item.remove();
                            }



                        }

                        container.el.removeClass("active");
                        _super($item, container);
                    }



                },

                isValidTarget: function ($item, container) {



                    return !(container.el.parent('li').hasClass('room_number') && $item.hasClass('room_number'));


    //    var depth = 1, // Start with a depth of one (the element itself)
    //    maxDepth = 1,
    //    children = $item.find('ol').first().find('li');

    //// Add the amount of parents to the depth
    //depth += container.el.parents('ol').length;

    //// Increment the depth for each time a child
    //while (children.length) {
    //    depth++;
    //    children = children.find('ol').first().find('li');
    //}
            //data-type="Group"

},



            });

             var group = $("ol.nested_with_switch2").sortable({
                drop: false,
                group: 'nested',








            });


            var groups = $("ol.nested_with_switch_room").sortable({
                group: 'nested',

                // Duplicate items of the no drop area
                handle: 'i.icon-move',



            });



            $('#add_group').click(function () {
                var group_type_number = Math.floor(Math.random() * 90000) + 10000;
                var text = $("#groupname").val().trim();
                var groupfound = 0;
                 var TemplateFormGroupId = Math.floor(Math.random() * 9000000) + 1000000;
                //var countli = $('.nested_with_switch_room    li:contains(' + text + ')').length;
        
                $('.nested_with_switch_room li').each(function () {
                    

                    if ($(this).attr("data-name") == text && $(this).attr("data-type") =="Group") {

                        groupfound = 1;
                    }
                })

                if (groupfound == 1) {

                   swal("Group Name Already Exists!");
                    $("#myParagraph").css({ "backgroundColor": "black", "color": "white" });
                }
                else if (text.trim() == "") {

                        swal("Please Enter Group Name!");
                    $("#myParagraph").css({ "backgroundColor": "black", "color": "white" });

                }
                    else {

                    $('#room_list').append('<li data-uniqId="'+TemplateFormGroupId+'" class="room_number msg" id="group_remove' + (group_type_number) +  '" data-temptype="0" data-type="Group"  data-id="' + group_type_number + '"data-Group="' + 0 + '"  data-secondname="' + text + '" data-name="' + text + '">' + text + '<div class="room-remove"><a href="javascript:void(0)"  onclick="delete_group(' + group_type_number + ')"><i class="fa fa-times"></i></a></div><ol></ol></li>');
                }
                //if (countli == 1 ) {

                //    swal("Group Name Allready Exists!");
                //    $("#myParagraph").css({ "backgroundColor": "black", "color": "white" });

                //}

            });

        });




        $(document).on('click', '.editdata', function () {
            //$(this).data("name", "dsads");
            
            
            var d = $(this).parent();

            swal({
                title: 'Enter Template Name',
                input: 'text',
                showCancelButton: true,
                
                allowOutsideClick: false,
               
            }).then(function (dismiss) {


                if (dismiss.dismiss === 'cancel') {
                    $(".swal2-input").removeClass("cferror");
                } else {

                    if (dismiss.value == "") {

                        $(".editdata").click();
                        $(".swal2-input").addClass("cferror");
                        $(".cferror").after('<lable style="text-align: initial;color:red">Template name is required.</lable>');
                    }
                    else {
                        $(".swal2-input").removeClass("cferror");
                        d.data("secondname", dismiss.value);
                        var TemplateId = d.attr("data-id");
                        var deletetemp = "delete_template(" + TemplateId + ")";
                        var temptype = d.attr("data-temptype");
                        var data_class = d.attr("Class");
                        var data_name = d.attr("data-name");
                        var data_text = d.text();
                        var idname = TemplateId;
                        //$(".innertextval", d).text(dismiss.value + "(" + data_name + ")");
                          $(".innertextval", d).text(dismiss.value);
                    }

                }
            });
        });

        $(document).on('click', '#submit', function () {

            
          var data2 = $("ol.nested_with_switch_room").sortable("serialize").get();
          var jsonString = JSON.stringify(data2, null, ' ');

            if (data2[0].length == 0) {


                   swal("Tag should not be empty.");
            }
                //
            var firstli = data2[0][0];

            if (firstli.group !== 0 || firstli.temptype !== 2) {
                swal("Please add one public ReportCard in first!");
                return false;
            }



            var dataToSend = {
                            'Id':'@Model.Id',
                            'TagCode': jsonString
                        };
                        $.ajax({
                            url: '@Url.Action("CreateEditTagForm", "FormTag")',
                            dataType: 'json',
                            type: "POST",
                            data: dataToSend,
                            success: function (result) {


                                swal({
                                    title: "Success",
                                    text: "Tag has been successfully updated.",
                                    type: "success",
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                }).then(function () {
                                    

                                     @{
                                     var url = Url.Action("TagReportCardList", "FormTag", new { SearchTag = Model.TagNumber });
                                     

                                     }

                                    window.location.replace('@url');
                                });


                            },
                            error: function (result) {
                                  swal("SomeThing Wrong!","", "warning");
                            }
                        });

        })

          function delete_Reguler_template(id) {


            swal({
                title: 'Are you sure?',
                text: 'You will not be able to recover this Tag Form Data!',
                type: 'warning',
                showCancelButton: true,
                animation: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Delete it!',
              
                
                allowOutsideClick: false,


            }).then(function (dismiss) {

                if (dismiss.dismiss === 'cancel') {

                } else {

                    $('ol.test3').find('li[delete_id = ' +  id + ']').remove();

                }
            });



        }
        function delete_template(id) {

           $('.test3 #' + id).remove();


        }


        function delete_group(id) {

              swal({
                title: 'Are you sure?',
                text: 'You will not be able to recover this Tag Form Data Inside Group!',
                type: 'warning',
                showCancelButton: true,
                animation: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Delete it!',
                
                
                allowOutsideClick: false,


            }).then(function (dismiss) {

                if (dismiss.dismiss === 'cancel') {

                } else {

                    $('#group_remove' + id).remove();
                }
            });





        }


    </script>
}




