@model OxyProcess.Models.GroupsViewModels.AddGroupViewModel
@{
    ViewData["Title"] = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">*@
<style>

    .error-group {
        color: red;
    }


</style>
<div class="container-fluid">
    <!-- Start Page Content -->

    <div class="row">
        <!-- Column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class=" row">
                        <div class="col-md-12">
                            <h2 class="heading">Create Group</h2>
                        </div>
                    </div>
                    <form asp-controller="Group" asp-action="AddGroup" method="post" id="Groups">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row ">
                            <div class="col-md-6 col-xs-12 col-sm-12 margin-auto">
                                <div class="input-group input-group-default">
                                    <input asp-for="GroupName" type="text" placeholder="Enter Group Name" id="GroupName" name="GroupName" class="form-control">
                                    <span class="input-group-btn"><button class="btn btn-primary" type="submit">Add Group</button></span>
                                    <span asp-validation-for="GroupName" class="text-danger"></span>

                                </div>
                                <label for="GroupName" class="error error-group"></label>
                            </div>

                        </div>
                    </form>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="hed-table">
                                <h2 class="">List Of Group </h2>
                            </div>
                            <div class="table-responsive m-t-40 group-tabel">
                                <table id="myTable" class="table table-bordered " style="width:100% !important;">
                                    <thead>
                                        <tr>
                                            <th>Group Name</th>
                                            <th>Created Date</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Column -->

    </div>

    <!-- End PAge Content -->
</div>
@section Scripts{

    @*<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>*@
    @*<script src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js'></script>*@
    <script src="~/js/lib/form-validation/jquery.validate.min.js"></script>
    <script src="~/js/lib/datatables/datatables.min.js"></script>
    <script type="text/javascript">



        $(document).ready(function(){



            $("#Groups").validate(
                {

                    onsubmit: true,//Disables form submit validation
                    onfocusout: true, //Disables onblur validation.
                    onkeyup: true,  //Disables onkeyup validation
                    onclick: true, //Disables onclick validation of checkboxes and radio buttons.
                    rules:
                    {

                        GroupName:
                        {
                            required: true,
                        }
                    },
                    messages:
                    {


                        GroupName:
                        {
                            required: "Please enter group name.",

                        },

                    }

                });
        });


        $(document).ready(function () {


             @*var msg = '@ViewBag.Msg';
            if (msg != null && msg!="") {
                  swal({
                   text: '@ViewBag.Msg',
                   type: 'success',
                   confirmButtonText: 'Ok',
                });*@
            @*var msg = '@TempData["Message"]';
            if (msg != null && msg!="") {
                  swal({
                   text: '@TempData["Message"]',
                   type: 'success',
                   confirmButtonText: 'Ok',
                });
            }*@

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllGroups","Group")",
                "dataType": "json",
                success: function (data) {
                    datatableVariable = $('#myTable').DataTable({
                         "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        $('td', nRow).css('background-color', 'white');
                        },

                        "order": [[3, "desc"]],
                          'columnDefs': [{


        'targets': [2], // column index (start from 0)
        'orderable': false, // set orderable false for selected columns
                        }, {

                                "targets": [3],
                                "visible": false,
                                "searchable": false
                            },


                        ],
                        destroy: true,
                        data: data,


                        columns: [
                            {
                                'data': "GroupName",
                                'render': function (data) {

                                    return "<span class='limittext'>" + data + "</span>"
                                }
                            },


                            {

                                'data': "CreatedDate",
                                'render': function (data) {
                                    var date = new Date(data);
                                    var month = date.getMonth() + 1;
                                    return "<span class='limittext'>" + (month.toString().length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear() + "</span>"

                                }
                            },
                            {
                                'data': "GroupId",
                                "render": function (data) {
                                    return "<a title='Manage Group' data-toggle='tooltip'  class='tooltip-top fa fa-arrow-right' href='@Url.Action("Edit","Group")?id=" + data + "'></a> / <a href='#' title='Delete' data-toggle='tooltip' class=' tooltip-top fa fa-trash-o' onclick=\'DeleteRow(" + data + ")\'></a>";
                                }
                            },
                             {
                                'data': "GroupId",
                            }
                        ]
                    });
                }
            });

        });
        function DeleteRow(id) {

            swal({
                title: 'Are you sure?',
                text: 'You will not be able to recover this group!',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                closeOnConfirm: false,
                allowOutsideClick: false,
                closeOnCancel: false

            }).then(function (dismiss) {

                if (dismiss.dismiss === 'cancel') {

                } else {
                    $.ajax({
                    type: 'POST',
                    url: "@Url.Action("DeleteGroup","Group")",
                    dataType: "text",
                          data: { id: id },
                          success: function (response) {
                              var response = $.parseJSON(response);
                              if (response.value === true) {
                                  swal({
                                      title: "Deleted",
                                      text: "Group has been deleted successfully",
                                      type: "success",
                                      showCancelButton: false,
                                      confirmButtonColor: '#3085d6',
                                      cancelButtonColor: '#d33',
                                  }).then(function () {
                                      location.reload(true);
                                  });
                              } else {
                                  swal({
                                      title: "Fail",
                                      text: response.value,
                                      type: "error",
                                      showCancelButton: true,
                                      confirmButtonColor: '#3085d6',
                                      cancelButtonColor: '#d33',
                                  }).then(function () {
                                      location.reload(true);
                                  });
                              }
                          },
                })}
            });
        }

    </script>

    @*@{
            if (TempData["Message"] != null || TempData["Message"].ToString() != "")
            {
                <script>
                         swal({
                       text: '@TempData["Message"].ToString()',
                       type: 'success',
                       confirmButtonText: 'Ok',
                    });
                </script>
            }
        }*@
}
